	<div id="contact-me" class="row">
  <div class="container">
    <div class="row">
      <div class="col-7 mx-auto">
      <h2 class="text-center">Contact me</h2> 
      <hr>
      <%= form_for @message, url: contact_me_path, remote: true, validate: true do |f| %>
	      
        <div class="form-group">
          <%= f.text_field :name, placeholder: 'Your Name', class: 'message form-control' %>
        </div>

        <div class="form-group">
          <%= f.text_field :subject, placeholder: 'Subject', class: 'message form-control' %>
        </div>

        <div class="form-group">
          <%= f.text_field :sender_email, placeholder: 'Your Email',class: 'message form-control' %>
        </div>

        <div class="form-group">
          <%= f.text_area :body, placeholder: 'Your Message', class: 'message form-control', rows: 5 %>
        </div>
          <%= f.button fa_icon('paper-plane',text: 'Send'), type: 'submit', class: 'btn btn-info' %>
          <%= button_tag 'Reset', type: 'reset', class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
