<div id="hobbies" class="row match-height">
  <div class="col-md-12">
    <h1 class="text-center mb-3">Hobbies</h1>
    <hr>
  </div>
  <div class="col-md-3 mx-auto">
    <div class="card p-3 text-center">
      <div class="card-img-wrap">
        <%= image_tag 'http://i.huffpost.com/gen/4784786/images/o-CODING-facebook.jpg', class: 'card-img-top mb-3 img-thumbnail' %>
        <div class="card-text card-img-overlay"><%= fa_icon 'code', class: 'fa-5x' %></div>
      </div>
      <div class="card-block mt-3">
        <div class="card-subtitle mb-2">
          <h3 class="card-headline">Writting Code</h3>
        </div>
        <div class="card-text">
          <p>I constantanly enjoy exploring new 'Best Practices'.</p>
          <p>Taking on <%= link_to 'Code Katas', 'https://www.codewars.com/users/interstellaridea', target: '_blank' %></p>
          <p>Attending <%= link_to 'Meetups', 'https://www.meetup.com/members/201960982/', target: '_blank' %>.</p>
          <p>Leaning more on <%= link_to 'Udemy', 'https://www.udemy.com/user/sebastian-valdez-3/', target: '_blank' %>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mx-auto">
    <div class="card p-3 text-center">
      <div class="card-img-wrap">
        <%= image_tag 'https://cdn.pursuitist.com/wp-content/uploads/2016/05/How-to-Grind-Coffee-Beans-Perfectly.jpg', class: 'card-img-top mb-3 img-thumbnail' %>
        <div class="card-text card-img-overlay mb-3"><%= fa_icon 'coffee', class: 'fa-5x' %></div>
      </div>
      <div class="card-block mt-3">
        <div class="card-subtitle mb-2">
          <h3 class="card-headline">Roasting Coffee</h3>
        </div>
        <div class="card-text">
          <p>I Love coffee!</p>
          <p>I used Ruby On Rails to create an app that helps me track my own roasted beans!</p>
          <p>I track:</p>
          <ul class="list-inline">
            <li class="list-inline-item">Bean Species</li>
            <li class="list-inline-item">Roast Profile</li>
            <li class="list-inline-item">Brew Flavor Profile</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mx-auto">
    <div class="card p-3 text-center">
      <div class="card-img-wrap">
        <%= image_tag 'https://www.kcet.org/sites/kl/files/atoms/article_atoms/www.kcet.org/news/agenda/palos%2520verdes-beach%2520hikes-los%2520angeles-california.jpg', class: 'card-img-top mb-3 img-thumbnail' %>
        <div class="card-text card-img-overlay mb-3"><%= fa_icon 'sun-o', class: 'fa-5x' %></div>
      </div>
      <div class="card-block mt-3">
        <div class="card-subtitle mb-2">
          <h3 class="card-headline">Being Oustside</h3>
        </div>
        <div class="card-text">
          <p>When I'm away from all the technology...</p>
          <p>I like to go out for a hike or if the surf is good, to get into the water!</p>
          <p>I try to go to the gym 3 times a week, especially if I know I can't do the above during the weekend.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mx-auto">
    <div class="card p-3 text-center">
      <div class="card-img-wrap">
        <%= image_tag 'https://cnet4.cbsistatic.com/img/ai2ZLLSZctKkTUV4jUsSf7g57L4=/2015/09/21/4523c5e2-a673-452c-b344-091afcab8a02/form2.jpg', class: 'card-img-top mb-3 img-thumbnail' %>
        <div class="card-text card-img-overlay mb-3"><%= fa_icon 'cogs', class: 'fa-4x' %></div>
      </div>
      <div class="card-block mt-3">
        <div class="card-subtitle mb-2">
          <h3 class="card-headline">Maker Spirit</h3>
        </div>
        <div class="card-text">
          <p>I have a 3d-Printer!</p>
          <p>When I need something simple such as a headphone stand or cable clip holders for the edge of the desk...</p>
          <p>I print it!</p>
          <p>I love using AudoDesk Fusion 360 to rapid prototype my things and my frieds requests into reality!</p>
        </div>
      </div>
    </div>
  </div>
</div>