<%= paginate @blogs %>

<% @blogs.each do |blog| %>
	<div class="blog-post">
	<%= image_tag blog.photo, class: 'img-fluid' if blog.photo %>
		<h2 class="blog-post-title"><%= link_to "#{blog.title}", blog_path(blog) %></h2>
		<h4 class="text-muted lead"><%= blog.subtitle %></h4>
		<% if logged_in?(:admin, :editor) %>
			<div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
			<%= blog_status_button blog %>
			</div>
		<% end %>	  
		<p class="blog-post-meta small"><%= "#{time_ago_in_words(blog.updated_at)} ago" %></p>
			<%= truncate(blog.content, length: 150, omission: "... %s") % link_to( 'Read more ', blog_path(blog)) %>
	</div>
<% end %>

<%= paginate @blogs %>

<!-- <nav class="blog-pagination">
  <a class="btn btn-outline-primary" href="#">Older</a>
  <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
</nav> -->