<div class="container">
	<div class="blog-container d-flex flex-column">
		<h1><%= @blog.title %></h1>
		<div class="btn-group">
			<%= link_to "Back", blogs_path, class: 'btn btn-info btn-sm' %>
			<%= link_to "Edit", edit_blog_path(@blog), class: 'btn btn-warning btn-sm' if logged_in?(:admin, :editor)  %>
			<%= link_to "Delete", blog_path(@blog), method: :delete, class: 'btn btn-danger btn-sm' if logged_in? :admin %>
		</div>
		<hr>
<!-- make a form group.. for these items -->
		<div class="align-self-center">
		<div class="form-group">
			<div class="label">
				<%= @blog.status %>
			</div>
			<%= @blog.content %>
		</div>
		</div>



	</div>
</div>