<footer class="footer">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">Home</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#about">About</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#services">Blog</a>
      </li>
      <hr>
      <ul class="list-inline text-center">
      <li class="list-inline-item text-center">
        <%= link_to fa_icon('linkedin',text: tag(:br) + content_tag(:span, 'LinkedIn').html_safe, class: 'fa-3x'),'#'  %>
      </li>
      <li class="list-inline-item text-center">
        <%= link_to fa_icon('github', text: tag(:br) + content_tag(:span, 'Github').html_safe, class: 'fa-3x'),'#'  %>
      </li>
      <li class="list-inline-item text-center">
        <%= link_to fa_icon('instagram', text: tag(:br) + content_tag(:span, 'Instagram').html_safe, class: 'fa-3x'),'#'  %>

      </li>
      <li class="list-inline-item text-center">
        <%= link_to fa_icon('download', text: tag(:br) + content_tag(:span, 'Resume').html_safe, class: 'fa-3x'),'#'  %>
      </li>
      </ul>
    </ul>
    <p class="copyright text-center">
      <%= generate_copyright %>
    </p>
  </div>
</footer>