<!DOCTYPE html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>SebastianValdezSite</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
		<%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  </head>

	<body>
		<%= render 'shared/nav' %>
		<%#= render 'shared/alerts' %>
    <%#= video_tag(
      'coffee_video.mp4',
      id: 'background-video',
      autoplay: true,
      loop: true,
      muted: true,
    ) %>
    <%= yield %>
    <%= render 'footer' %>
	</body>
</html>
