<!DOCTYPE html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>SebastianValdezSite</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
		<%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body>
		<%= render 'shared/nav' %>
		<%#= render 'shared/alerts' %>
    <%= yield %>
    <%= render 'shared/footer' %>
	</body>
</html>
