<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Blog</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
    <header>
      <div class="blog-masthead">
        <div class="container">
          <nav class="nav">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">New features</a>
            <a class="nav-link" href="#">Press</a>
            <a class="nav-link" href="#">New hires</a>
            <a class="nav-link" href="#">About</a>
          </nav>
        </div>
      </div>

      <div class="blog-header">
        <div class="container">
          <h1 class="blog-title">Some things by Sebastian...</h1>
          <p class="lead blog-description">My personal blog about related to Programming and other tech</p>
          <%= link_to 'New Blog', new_blog_path, class: 'btn btn-primary' if logged_in? :admin %>
        </div>
      </div>
    </header>

    <main role="main" class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <%= yield %>

        </div><!-- /.blog-main -->

        <aside class="col-sm-4 ml-sm-auto blog-sidebar">
          

          <!-- TODO blogs have categories
          <div class="sidebar-module sidebar-module-inset">
            <h4>Categories</h4>
            <ol class="list-unstyled">
              <li><a href="#">Rails</a></li>
              <li><a href="#">React</a></li>
              <li><a href="#">Redux</a></li>
              <li><a href="#">3D Printing</a></li>
            </ol>
          </div> -->


          <div class="sidebar-module">
            <h4>Catch me on..</h4>
              
                <li class="list-inline-item text-center">
                  <%= link_to fa_icon('linkedin',text: tag(:br) + content_tag(:span, 'LinkedIn').html_safe, class: 'fa-2x'),'https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile', target: '_blank'  %>
                </li>
                <li class="list-inline-item text-center">
                  <%= link_to fa_icon('github', text: tag(:br) + content_tag(:span, 'Github').html_safe, class: 'fa-2x'),'https://github.com/interstellaridea/', target: '_blank'  %>
                </li>
                <li class="list-inline-item text-center">
                  <%= link_to fa_icon('instagram', text: tag(:br) + content_tag(:span, 'Instagram').html_safe, class: 'fa-2x'),'https://www.instagram.com/sebby654/', target: '_blank' %>
                </li>
              
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


  </body>
</html>